.card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 0 0 auto;
  margin: 5px;
  min-width: 385px !important;
  height: 300px !important;
  &-image {
    background-size: cover;
    background-position: center;
    height: 220px;
    width: 100%;
    border-radius: 5px;
  }
  &-info {
    flex-wrap: nowrap;
    padding: 5px 4px;
    width: 100%;
    &-title {
      font-size: 18px;
    }
  }
}
